@page
@model MyWebsitetwo.Pages.ContactModel

@{
    ViewData["Title"] = "Contact";
}

<div class="container">
    <h1>Contact</h1>
    <hr class="my-4">

    <p>If you'd like to get in touch, feel free to reach out to me via the following methods:</p>

    <ul>
        <li>Email: <a href="mailto:lumelchor97@gmail.cm">lumelchor97@gmail.com</a></li>
        <li>LinkedIn: <a href="https://www.linkedin.com/in/luis-melchor-926a27192/" target="_blank">Connect with me!</a></li>
        <li>GitHub: <a href="https://github.com/C3ltWicho" target="_blank">github.com/C3ltWicho</a></li>
    </ul>
</div>
