@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container py-5">
    <div class="alert alert-warning text-center" role="alert">
    🚧 This website is currently under construction. Stay tuned for more features and updates coming soon! 🚧</div>
    <h1 class="display-4 text-center">Welcome to my website</h1>
    <p class="lead text-center">Hi, I'm Luis Melchor, a passionate Software Engineer based in Conroe, Texas.</p>
    <hr class="my-4">

    <h2>About Me</h2>
    <p>I graduated from the University of St. Thomas with a Bachelor's Degree in Computer Science. My journey as a software engineer has been shaped by my strong passion for developing innovative software solutions and solving complex problems through code.</p>
    <p>Throughout my career, I've worked on various projects, including predictive stock market analysis and full-stack web applications. I’m constantly seeking to expand my knowledge and skills, especially in languages like Python, Java, and C#.</p>
    <p>My ultimate goal is to work on projects that have a meaningful impact. I aim to collaborate with like-minded individuals who share a similar vision, particularly in the aerospace industry, where I hope to contribute to the next generation of space exploration, taking us to Mars and beyond.</p>

    <h2>My Skills</h2>
    <ul>
        <li><strong>Programming Languages:</strong> Python, Java, C#, Rust, R, JavaScript, C++, TypeScript, Go</li>
        <li><strong>Frameworks:</strong> ASP.NET, React, Next.js</li>
        <li><strong>Database Management:</strong> SQL, MongoDB</li>
    </ul>

    <h2>Featured Projects</h2>
    <p>Check out some of my recent projects:</p>
    <ul>
        <li><a href="https://github.com/C3ltWicho/Pi-Trader">Pi-Trader: Predictive Stock Market Analysis Tool</a></li>
        <li><a href="https://github.com/C3ltWicho/Log-Monitor">Log-Monitor: Real-time Log File Monitoring</a></li>
    </ul>
    
    <div class="text-center my-5">
        <a href="/contact" class="btn btn-primary btn-lg">Get in Touch</a>
    </div>

</div>